
.dropdown {
    display: inline-flex;
    align-items: center;
    position: relative;
}


.dropdown__input {
    opacity: 1;
}


.dropdown__list {
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 300px;
    margin-top: 3px;
    overflow-y: auto;
    opacity: 0;
    z-index: 1;
}

.dropdown__menu {
    display: flex;
    flex-direction: column;
    background: hotpink;
}

.dropdown__menu-item {
    display: block;
    &:hover {
        //@extend: yellow;
    }
}

.dropdown__select {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.1;
    option {
        opacity: 0.2;
    }
}

.dropdown--is-open {
    .dropdown__list {
        opacity: 1;
    }
}

.dropdown__menu-item--focus {
    background-color: yellow;
}

.dropdown__menu-item--selected {
    background-color: yellowgreen;
}