
.testComponent {
    color: red;
}

.body {
    color: ghostwhite;
}

.testComponent__body {
    color: honeydew;
}

.testComponent--hot {
    color: aquamarine;
    .body {
        color: hotpink;
    }
}

header {
    color: blueviolet;
}

p {
    color: hotpink;
}

.a {
    color: navajowhite;
}
