
$btn-height: 31px !default;
$btn-font-family: sans-serif !default;
$btn-font-weight: 400 !default;
$btn-text-color: white !default;
$btn-background-color: green !default;
$btn-background-color-hover: mix(black, $btn-background-color, 30%) !default; 
$btn-background-color-active: mix(black, $btn-background-color, 10%) !default; 
$btn-background-color-disabled: mix(white, $btn-background-color, 50%) !default;

.btn {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative; 
    overflow: hidden;
    min-width: 4em;
    height: var(--btn-height, #{$btn-height});
    padding: 0 2.5em;
    border-radius: 2em;
    color: var(--btn-text-color, #{$btn-text-color});
    background: var(--btn-background-color, #{$btn-background-color});
    font-family: var(--btn-font-family, #{$btn-font-family});
    font-weight: var(--btn-font-weight, #{$btn-font-weight});
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    
    &:focus {
        outline: none !important;  
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}

.btn:hover {
    background: var(--btn-background-color-hover, #{$btn-background-color-hover});
}

.btn:active {
    background: var(--btn-background-color-active, #{$btn-background-color-active});
}

.btn:disabled {
    background: var(--btn-background-color-disabled, #{$btn-background-color-disabled});
    cursor: auto;
}

.btn--outline {
    background-color: transparent;
    border: 2px solid var(--btn-background-color, #{$btn-background-color});
    color: var(--btn-background-color, #{$btn-background-color});
    &:hover {
        background: transparent;
        border-color: var(--btn-background-color-hover, #{$btn-background-color-hover});
        color: var(--btn-background-color-hover, #{$btn-background-color-hover});
    }
    &:active {
        background: transparent;
        border-color: var(--btn-background-color-active, #{$btn-background-color-active});
        color: var(--btn-background-color-active, #{$btn-background-color-active});
    }
    &:disabled {
        background-color: transparent;
        color: var(--btn-background-color-disabled, #{$btn-background-color-disabled});
        border-color: var(--btn-background-color-disabled, #{$btn-background-color-disabled});
    } 
}

