
$field-height: 34px !default;
$field-font-family: sans-serif !default;
$field-font-weight: 400 !default;
$field-text-color: black !default;
$field-background-color: white !default;
$field-error-color: red !default;
$field-error-background-color: mix(white, $field-error-color, 90) !default;
$field-focus-color: green !default;
$field-border-radius: 17px !default;
$field-padding: 1em !default;