
@import 'Field.config';

.field {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;    
    background: var(--field-background-color, #{$field-background-color});
    border-radius: 1em;
    min-width: 300px;
    height: var(--field-height, #{$field-height});
    //border-radius: calc(var(--field-height, #{$field-height}) / 2);
    border-radius: var(--field-border-radius, #{$field-border-radius});
    outline: none;
    margin: 0;
    padding: 0.5em 1em;
    border: 1px solid grey;
    color: var(--field-text-color, #{$field-text-color});
    font-size: 1em;
    font-weight: var(--field-font-weight, #{$field-font-weight});
    font-family: var(--field-font-family, #{$field-font-family});
    transition: border-color 300ms ease;
}

.field:focus,
.field--focus {
    border-color: var(--field-focus-color, #{$field-focus-color});
}

.field:disabled {
    background-color: lightgrey;
    border-color: lightgrey;
}

.field__subfields {
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0.5em 1em;
    pointer-events: none;
}

.field__error {
    display: none;
    margin-top: 0.5em;
    font-size: 0.95em;
    font-family: var(--field-font-family, #{$field-font-family});
    color: var(--field-error-color, #{$field-error-color});
}

.field--invalid {
    color: var(--field-error-color, #{$field-error-color});
    border-color: var(--field-error-color, #{$field-error-color});
    background-color: var(--field-error-background-color, #{$field-error-background-color});
    & + .field__error {
        display: block;
    }
}

.field--full-width {
    min-width: 100%;
}

.field--has-subfields {
    //color: transparent;
    opacity: 1; // just so it will compile
}

.field--locked {
    cursor: default;
    color: transparent; // Hide caret
}