
$checkbox-dimensions: 20px !default;
$checkbox-error-text-color: red !default;
$checkbox-error-border-color: red !default;
$checkbox-error-background-color: mix(white, $checkbox-error-border-color, 90) !default;

.checkbox {
    display: flex;
    align-items: center;
    position: relative;
}

.checkbox__ui-container {
    display: block;
    position: relative;
    box-sizing: content-box;
    height: $checkbox-dimensions;
    width: $checkbox-dimensions;
    margin: 5px;
}

.checkbox__input {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    opacity: 0;
    cursor: pointer;
    &:disabled {
        & ~ .checkbox__ui {
            background: lightgrey;
        }
    }
    &:checked {
        & ~ .checkbox__ui {
            & > * {
                opacity: 1;
            }
        }
    }
    &:invalid {
        & ~ .checkbox__ui {
            background-color: var(--checkbox-error-background-color, #{$checkbox-error-background-color});
            border-color: var(--checkbox-error-border-color, #{$checkbox-error-border-color});
        }
    }
}

.checkbox__ui {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-radius: 2px;
    border: 1px solid grey;
    & > * {
        opacity: 0;
    }
}

.checkbox__error-text {
    //position: absolute;
    color: var(--checkbox-error-text-color, #{$checkbox-error-text-color});
}