
.field-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.field-wrapper__label {
    display: block;
    margin: 0;
}

.field-wrapper__label[for] {
    cursor: pointer;
}

.field-wrapper__required {
    display: inline;
}

.field-wrapper--label-left {
    flex-direction: row;
    align-items: center;
}

.field-wrapper--label-right {
    flex-direction: row-reverse;
    align-items: center;
}

.field-wrapper--label-top {
    flex-direction: column;
}

.field-wrapper--label-inside {
    .field-wrapper__label {
        position: absolute;
        top: 0;
        left: 1em;
        font-size: 1em;
        line-height: 1em;
        margin: 0;
        transform-origin: 0 0;
        transform: translate(0, 50%) scale(1);
        transition: all linear 100ms;
        pointer-events: none;
    }
    .field-wrapper__required {
        display: inline-flex;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 1em;
        pointer-events: none;
    }
}

.field-wrapper--hide-label {
    &.field-wrapper--label-inside {
        .field-wrapper__label {
            transform: translate(0, 0) scale(0.5);
        }
    }
}

.field-wrapper--full-width {
    width: 100%;
}