@import "../Field/Field.config.scss";

.field-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.field-wrapper__label {
    display: block;
    margin: 0;
}

.field-wrapper__label[for] {
    cursor: pointer;
}

.field-wrapper__required {
    display: inline;
}

.field-wrapper__error-text {
    display: block;
    position: absolute;
    top: 100%;
    border: 1px solid var(--field-error-color, #{$field-error-color});
    color: var(--field-error-color, #{$field-error-color});
    background: white;
    font-size: 14px;
    padding: 0.2em;
    margin-top: 2px;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transform: translate(0, -1em);
    transition: all 300ms ease;
    //box-shadow: 0 0 1em 0 rgba(black, 0.3);

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0.5em;
        top: -1px;
        height: 10px;
        width: 10px;
        transform-origin: 100% 0;
        transform: rotate(45deg);
        border: inherit;
        border-bottom: none;
        border-right: none;
        background: inherit;
    }
}

.field-wrapper--label-left {
    flex-direction: row-reverse;
    align-items: center;
    .field-wrapper__label {
        margin-right: 0.5em;
    }
}

.field-wrapper--label-right {
    flex-direction: row;
    align-items: center;
    .field-wrapper__label {
        margin-left: 0.5em;
    }
}

.field-wrapper--label-top {
    flex-direction: column-reverse;
}

.field-wrapper--label-inside {
    .field-wrapper__label {
        position: absolute;
        top: 0;
        left: var(--field-padding, #{$field-padding});
        font-weight: var(--field-font-weight, #{$field-font-weight});
        font-family: var(--field-font-family, #{$field-font-family});
        color: var(--field-text-color, #{$field-text-color});
        font-size: 1em;
        line-height: 1em;
        margin: 0;
        transform-origin: 0 0;
        transform: translate(0, 50%) scale(1);
        //transform:  translate(0, calc(var(--field-height) / 2 - 0.5em)) scale(1);
        transition: all linear 100ms;
        pointer-events: none;
    }
    .field-wrapper__required {
        display: inline-flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: var(--field-padding, #{$field-padding});
        height: var(--field-height, #{$field-height});
        pointer-events: none;
    }
}

.field-wrapper--hide-label {
    &.field-wrapper--label-inside {
        .field-wrapper__label {
            transform: translate(0, 0) scale(0.5);
        }
    }
}

.field-wrapper--show-error {
    .field-wrapper__error-text {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.field-wrapper--full-width {
    width: 100%;
}