
.field-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.field-wrapper__label {
    display: block;
}

.field-wrapper__required {
    display: inline;
}

.field-wrapper--label-left {
    flex-direction: row;
    align-items: center;
}

.field-wrapper--label-top {
    flex-direction: column;
}

.field-wrapper--label-inside {
    .field-wrapper__label {
        position: absolute;
        top: 0;
        left: 1em;
        font-size: 1em;
        line-height: 1em;
        margin: 0;
        transform-origin: 0 0;
        transform: translate(0, 50%) scale(1);
        transition: all linear 200ms;
        pointer-events: none;
    }
}

.field-wrapper--hide-label {
    &.field-wrapper--label-inside {
        .field-wrapper__label {
            transform: translate(0, 0) scale(0.5);
        }
    }
}